html, body {
  margin:0;
  padding:0;
  height:100%;
}

button:disabled {
  opacity: 0.5;
}

#root {
  height: 100%;
}

#error-404-view {
  height: 100vh;
  margin-top: -21px;
  background-image: url("albert.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#error-404-container {
  margin: 20px;
}
